<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gec.dao.AttrGroupMapper">

    <!-- 查询属性分组列表 -->
    <select id="getAttrGroupList" resultMap="attrGroupBOMap">
        SELECT g.*
        FROM tbl_goods_attr_group g
        WHERE 1=1
        <if test="param.categoryId != null">
            AND g.category_id=#{param.categoryId}
        </if>
        <if test="param.id != null">
            AND g.id=#{param.id}
        </if>
        <if test="param.groupName != null and param.groupName != ''">
            AND g.group_name like concat('%', #{param.groupName}, '%')
        </if>
    </select>

    <!-- 属性分组BO映射 -->
    <resultMap id="attrGroupBOMap" type="com.gec.domain.bo.AttrGroupBO">
        <id column="id" property="id"/>
        <result column="group_name" property="groupName"/>
        <result column="category_id" property="categoryId"/>
        <result column="descript" property="descript"/>
        <result column="icons" property="icons"/>
        <result column="sort" property="sort"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>
    </resultMap>

</mapper>