<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gec.dao.CategoryMapper">
    <!--
        int removeAssociate(
            @Param("categoryId") Integer categoryId);
    -->
    <delete id="removeAssociate">
        DELETE FROM tbl_brand_category
        WHERE category_id = #{categoryId}
        and brand_id in (
            <foreach collection="brandIds"
                     item="brandId" separator=",">
                    #{brandId}
            </foreach>
        )
    </delete>

    <select id="listCategory" resultType="BrandVO">
        select b.*, t_bc.brand_id,
               CASE
                   WHEN t_bc.brand_id is NULL THEN 0
                   ELSE 1
                   END isAssociate
        from tbl_brand b
                 left join
             (
                 select bc.brand_id from tbl_brand_category bc
                 where bc.category_id=#{categoryId}
             ) t_bc
             on b.id = t_bc.brand_id
    </select>

    <delete id="deleteById">
        delete from tbl_goods_category
        where id = #{id}
    </delete>
    <!-- 实现类别与品牌间的关联关系（以类别为视角） -->
    <insert id="associateBrand">
        INSERT INTO tbl_brand_category
        (brand_id, brand_name, category_id, category_name)
        VALUES
        <foreach collection="cbVO.brands" item="brand" separator=",">
            (
            #{brand.id}, #{brand.brandName},
            #{cbVO.categoryId}, #{cbVO.categoryName}
            )
        </foreach>
    </insert>

</mapper>
